hr {
    border-color: var(--highlight-color);
}

.review-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

label, input {
    display: block;
}

input {
    border-radius: 15%;
    width: 30%;
    height: 3rem;
    text-align: center;
    background-color: var(--secondary-color);
    border-color: var(--highlight-color);
}

button {
    margin-left: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

button:hover {
    transform: scale(1.1);
    background-color: var(--highlight-color);
    color: var(--secondary-color);
}
